<template>
  <Header/>
  <GreenBlock/>
  <section class="auth">
    <div class="auth__container">
      <div class="auth__title">
        Вход на сайт
      </div>
      <div class="row">
        <div class="auth__authorization col-4">
          <div class="authorization__title">
            Авторизация
          </div>
          <div class="authorization__email">
            <input type="text" placeholder="E-mail">
          </div>
          <div class="authorization__password">
            <input type="text" placeholder="Пароль">
          </div>
          <div class="authorization__systems">
            <div class="authorization__systems-button">
              Войти
            </div>
            <div class="authorization__systems-recovery">
              <a href="#">Забыли пароль?</a>
            </div>
          </div>
        </div>
        <div class="auth__reg col-4">
          <div class="authorization__title">
            Авторизация
          </div>
          <div class="authorization__email">
            <input type="text" placeholder="E-mail">
          </div>
          <div class="authorization__password">
            <input type="text" placeholder="Пароль">
          </div>
          <div class="authorization__systems">
            <div class="authorization__systems-button">
              Войти
            </div>
            <div class="authorization__systems-recovery">
              <a href="#">Забыли пароль?</a>
            </div>
          </div>
        </div>
        <div class="auth__green col-4">

        </div>
      </div>
    </div>

  </section>
  <Footer/>
</template>
<script>
import Header from "./Header";
import Footer from "./Footer";
import GreenBlock from "./GreenBlock";

export default {
  name: 'Auth',
  components: {Header, Footer, GreenBlock}
}
</script>
