<template>
  <section class="banner">
    <div class="banner__container">
      <div class="banner__content">
          <div class="banner__category">
            <span>ГАДЖЕТЫ</span>
          </div>
          <div class="banner__title">
           <h3>Apple поделилась новыми видеоинструкциями для iPhone</h3>
          </div>
      </div>
    </div>

  </section>
</template>
<script>
export default {
  name: 'Banner',
}
</script>
<style lang="scss">
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/image/main/object.png") top;
  position: relative;
  z-index: -1;
  height: 350px;
  &:after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.49) 100%);
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
  }
  @media (max-width: 910px) {
    height: 600px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    z-index: 10;
  }

  &__category {
    font-family: HalvarBreitCY;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
  }

  &__title {
    font-family: HalvarMittelCY;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 910px) {
      font-size: 36px;
      line-height: 42px;
    }
  }

}
</style>
