<template>
  <section class="category">
    <div class="category__container">
      <div class="category__title title">
        <a class="title-link" href='#' v-for="(category, index) in categories" :key="index">
          {{ category.title }}
        </a>

      </div>

      <div class="row">
        <div class="col-4 item">
          <div class="item__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item__content">
            <div class="item__title">
              Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?
            </div>
            <div class="item__comments">
              <img class="item__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
        <div class="col-8 item-big">
          <div class="item-big__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item-big__content">
            <div class="item-big__title">
              <span>Говорят, в iPhone может снова появиться Touch ID. Зачем?</span>
            </div>
            <div class="item-big__comments">
              <img class="item-big__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item-big__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
        <div class="col-8 item-big">
          <div class="item-big__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item-big__content">
            <div class="item-big__title">
              <span>Говорят, в iPhone может снова появиться Touch ID. Зачем?</span>
            </div>
            <div class="item-big__comments">
              <img class="item-big__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item-big__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
        <div class="col-4 item-big">
          <div class="item-big__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item-big__content">
            <div class="item-big__title">
              <span>Говорят, в iPhone может снова появиться Touch ID. Зачем?</span>
            </div>
            <div class="item-big__comments">
              <img class="item-big__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item-big__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
        <div class="col-4 item">
          <div class="item__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item__content">
            <div class="item__title">
              Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?
            </div>
            <div class="item__comments">
              <img class="item__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
        <div class="col-4 item">
          <div class="item__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item__content">
            <div class="item__title">
              Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?
            </div>
            <div class="item__comments">
              <img class="item__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
        <div class="col-4 item">
          <div class="item__image">
            <img src="../assets/image/main/bitmap.png" alt="">
          </div>
          <div class="item__content">
            <div class="item__title">
              Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?
            </div>
            <div class="item__comments">
              <img class="item__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
              <span class="item__counter">{{ this.comments }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
</template>
<script>
export default {
  name: 'Category',
  props: [
    'categories',
  ],
  data() {
    return {
      itemsBlogs: [
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
        {
          image: 'bitmap',
          title: 'Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?',
          comments: 128,
        },
      ],
      comments: 128,
    }
  }
}
</script>
<style lang="scss">
.category {
  background-color: #F0F3F6;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


}


.item {

  &__image {
    height: 210px;
    margin-bottom: 15px;
    @media (max-width: 910px) {
      margin: 0 -15px;
    }


    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: HalvarMittelCY;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    max-width: 300px;
    margin-bottom: 15px;
  }
}

.item-big {
  position: relative;
  display: flex;
  height: 430px;
  @media (max-width: 910px) {
    position: static;
  }

  &__image {
    height: 350px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 615px;
    width: 100%;
    background-color: #F0F3F6;
    padding: 15px 0 0 20px;
    @media (max-width: 910px) {
      position: static;
    }
  }

  &__title {
    font-family: HalvarMittelCY;
    font-size: 36px;
    line-height: 42px;
    color: #000000;

  }
}


</style>


.blog
