<template>
  <Category :categories="categories"/>
  <GreenBlock/>
</template>
<script>
import Category from './Category.vue'
import GreenBlock from './GreenBlock.vue'
export default {
  name: 'Categories',
  components: {
    Category, GreenBlock,
  },
  props: ['blogItems', 'comments'],
  data() {
    return {
      categories: [
        {
          title: 'Гаджеты',
          url: '#',
        }
      ],
      posts: {
        gadgets: [
          {
            image: ''
          },
        ]
      },
    }
  }
}
</script>
<style lang="scss">
.title {
  font-family: HalvarStnclMittelCY;
  font-size: 60px;
  line-height: 70px;
  color: #000000;

  &:hover {
    color: #5850FF;
    transition: color .2s ease;
  }
}
</style>
