<template>
  <footer class="footer">
    <div class="footer__container">

      <div class="footer__list">
        <a :href="footerLink.url" class="footer__link" v-for="(footerLink, index) in footerLinks"
           :key="index">{{ footerLink.menu }}</a>
      </div>
      <div class="footer__socials">
        <a :href="social.url" class="footer__socials-link" v-for="(social, index) in socials"
           :key="index">
          <img class="footer__socials-icon" v-svg-inline :src="require(`../assets/image/header/${social.icon}.svg`)"
               alt="">
        </a>
      </div>


      <div class="footer__text">
        <p class="footer_text-par" v-for="(footerText, index) in footerTexts" :key="index">{{ footerText.text }}</p>
      </div>

    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  props: ['socials'],
  data() {
    return {
      footerLinks: [
        {menu: 'О MACDIGGER.RU', url: '#'},
        {menu: 'Рекламодателям', url: '#'},
        {menu: 'Правила', url: '#'},
        {menu: 'Политика конфиденциальности', url: '#'},
      ],
      footerTexts: [
        {text: '© 2009 – 2019 MacDigger.'},
        {text: 'Использование материалов допускается только при наличии активной ссылки на MacDigger.ru'},
        {text: 'info@macdigger.ru'},
      ],
    }
  }

}
</script>
<style lang="scss">
.footer {
  background-color: #000;
  padding: 30px 0 50px 0;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 655px;
    margin-bottom: 54px;
    width: 100%;
    font-family: HalvarBreitCY, sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    max-width: 312px;
    width: 100%;
  }

  &__socials-icon {
    fill: white;
  }

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
  }

  &__text {
    font-family: IBMPlexSans, sans-serif ;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 100%;
  }
  @media (max-width: 910px) {

    .footer {
      &__container {
        display: flex;
        flex-direction: column;
      }

      &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

      }

      &__socials {
        order: 3;
        align-self: center;
      }

      &__text {
        margin-bottom: 30px;
      }
    }

  }

}
</style>
