<template>
  <div class="green-block">

    <div class="green-block__body">

    </div>

  </div>
</template>
<script>
export default {
  name: 'GreenBlock',
}
</script>
<style lang="scss">
.green-block {
  display: flex;
  justify-content: center;
  margin-top: 25px;


  &__body {
    background: #82C7A5;
    width: 100%;
    max-width: 1050px;
    height: 250px;
  }
}
</style>
