<template>
  <section class="newsblock">
    <div class="newsblock__container">
      <div class="row">
        <div class="col-8 newsblock__blocks">
          <div class="row">
            <div class="col-12 item-big">
              <div class="item-big__image">
                <img src="../assets/image/main/bitmap.png" alt="">
              </div>
              <div class="item-big__content">
                <div class="item-big__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем?</span>
                </div>
                <div class="item-big__comments">
                  <img class="item-big__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
                  <span class="item-big__counter">{{ this.comments }}</span>
                </div>
              </div>
            </div>
            <div class="col-6 item">
              <div class="item__image">
                <img src="../assets/image/main/bitmap.png" alt="">
              </div>
              <div class="item__content">
                <div class="item__title">
                  Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?
                </div>
                <div class="item__comments">
                  <img class="item__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
                  <span class="item__counter">{{ this.comments }}</span>
                </div>
              </div>
            </div>
            <div class="col-6 item">
              <div class="item__image">
                <img src="../assets/image/main/bitmap.png" alt="">
              </div>
              <div class="item__content">
                <div class="item__title">
                  Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?
                </div>
                <div class="item__comments">
                  <img class="item__icon" src="../assets/image/main/comments.svg" v-svg-inline alt="">
                  <span class="item__counter">{{ this.comments }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 newsblock__news">
          <div class="news__item">
            <div class="news__title">
              🔥ФСБ: российские компании скрывают данные о кибератаках
            </div>
          </div>
          <div class="news__item">
            <div class="news__title">
              🔥ФСБ: российские компании скрывают данные о кибератаках
            </div>
          </div>
          <div class="news__item">
            <div class="news__title">
              🔥ФСБ: российские компании скрывают данные о кибератаках
            </div>
          </div>
          <div class="news__item">
            <div class="news__title">
              🔥ФСБ: российские компании скрывают данные о кибератаках
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>
<script>
export default {
  name: 'Grid',
}
</script>
<style lang="scss">

.blockwithnews {
  &__container {

  }

  &__wrapper {
    display: flex;

    margin: 0 -12.5px;
  }

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -12.5px;
    border: 2px solid black;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 12.5px;
    width: calc(100% / 12 * 6 - 25px);
    @media (max-width: 910px) {
      width: calc(100% - 25px);
    }
  }

  &__item-big {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 12.5px;
    width: calc(100% - 25px);
    @media (max-width: 910px) {
      width: calc(100% - 25px);
    }
  }
}

.news {
  border: 2px solid red;
}


.setka1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 12.5px;
  width: calc(100% / 12 * 8 - 25px);
  @media (max-width: 910px) {
    width: calc(100% - 25px);
  }
}

.setka2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 12.5px;
  width: calc(100% / 12 * 4 - 25px);
  @media (max-width: 910px) {
    width: calc(100% - 25px);
  }
}


.grid {
  &__wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 315px));
    grid-auto-rows: auto;
    grid-gap: 30px 15px;

    .item--big {
      grid-column: span 2;
      grid-row: span 1;
    }
  }

  .item {
    border: 1px solid red;
  }

  .item__image-wrapper {
    position: relative;
    padding: 0 0 85% 0;
  }

  .item__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.grid__withnews {
  margin: 0 0 200px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 30px 15px;


}

.grid__block-news {
  grid-row: 1/-1;
  grid-column: 3/4;
}

.block-news {
  display: flex;
  flex-direction: column;
}

.block-news__item {
  padding: 10px 10px 30px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item--bigy {
  grid-column: span 2;
  grid-row: span 1;
}

.withnews__item {

}

</style>
