<template>
  <header class="header" :class="{ search: search }">
    <div class="header__container">
      <div class="header__top">
        <div class="header__logo">
          <a class="header__logo-link" :href="headerLogo.url" v-for="(headerLogo, index) in headerLogos" :key="index">
            <img class="header__logo-image" :src="require(`../assets/image/header/${headerLogo.image}.svg`)" alt="">
          </a>
        </div>
        <div class="header__socials">
          <a :href="social.url" class="header__socials-link" v-for="(social, index) in socials"
             :key="index">
            <img class="header__socials-icon" :src="require(`../assets/image/header/${social.icon}.svg`)" alt="">
          </a>
          <a class="header__socials-icon login" href="#">Войти</a>
        </div>
      </div>
      <div class="header__bottom">
        <nav class="header__list">
          <a class="header__link" v-for="(headerLink, index) in headerLinks" :href="headerLink.url"
             :key="index">{{ headerLink.menu }}</a>
          <a class="header__link link--purple" href="#">apple</a>
          <a class="header__link link--purple" href="#">telegram</a>
        </nav>
        <div class="header__search">
          <!--          <input type="text" placeholder="Поиск">-->
          <img src="../assets/image/header/search.svg" v-svg-inline alt="" class="header__search-link">
        </div>
      </div>
      <div class="header__mobile">
        <div class="header__mobile-logo" v-if="!search">
          <img src="../assets/image/header/logo_mobile.svg" v-svg-inline alt="">
        </div>
        <div class="header__mobile-input" v-if="search">
          <input type="text" placeholder="Что будем искать?">
        </div>
        <div class="header__mobile-search" @click="changeHandleSearch()" :class="{ 'search--black': search }">
          <img src="../assets/image/header/search.svg" v-svg-inline alt="">
        </div>
        <Burger
            class="header__mobile-burger"
            :active="active"
            @changeHandleHeader="changeHandleHeader()"
            v-bind:class="{ 'burger--black': search }"
        />
      </div>
      <div class="header__burger-menu burger-menu" v-if="active">
        <div class="burger-menu__container">
          <div class="burger-menu__logo">
            <img src="../assets/image/header/logo_mobile.svg" v-svg-inline alt="">
            <Burger
                class="burger-menu__burger"
                :active="active"
                @changeHandleHeader="changeHandleHeader()"
            />
          </div>
          <nav class="burger-menu__list">
            <a class="burger-menu__link link--purple" href="#">apple</a>
            <a class="burger-menu__link link--purple" href="#">telegram</a>
          </nav>
          <div class="burger-menu__login">
            <a href="#">Войти</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import Burger from "./Burger"

export default {
  name: 'Header',
  props: ['socials'],
  components: {
    Burger,
  },
  data() {
    return {
      search: false,
      active: false,
      headerLogos: [
        {image: 'logo', url: '#'},
      ],
      headerLinks: [
        {menu: 'новости', url: '#'},
        {menu: 'гаджеты', url: '#'},
        {menu: 'технологии', url: '#'},
        {menu: 'люди', url: '#'},
        {menu: 'развлечения', url: '#'},
      ],

    }
  },
  // computed: {
  //   classObject: function () {
  //     return {}
  //   }
  // },
  methods: {
    changeHandleHeader() {
      this.active = !this.active;
      if (this.active === true) {
        document.body.classList.add('overflow-hidden',)
      } else {
        document.body.classList.remove('overflow-hidden',)
      }
    },
    changeHandleSearch() {
      this.search = !this.search
    }
  },
}

</script>
<style lang="scss">
.header {
  padding: 25px 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000000;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    font-family: HalvarBreitCY;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
  }

  &__socials-icon {
    font-family: HalvarBreitCY;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
  }

  .link--purple {
    color: #E140FF;

    &:before {
      content: ('#');
    }
  }

  &__mobile{
    display: none;
  }
}

@media (max-width: 910px) {
  .header {
    background: no-repeat url("../assets/image/header/back_mobile.png");
    background-size: cover;
    padding: 0;
    margin-bottom: 30px;
  }

  .header__mobile {
    color: #FFFFFF;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: relative;
    height: 40px;
    box-sizing: content-box;

    .header__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
      stroke: white;
      z-index: 1;
    }

    &-logo {

      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &-burger {
      margin-left: 20px;
    }

    &-input {

      background: #F0F3F6;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 70%;

      & input {
        font-family: HalvarBreitCY;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        height: 100%;
        width: 100%;
        padding-left: 10px;
        border: none;
        outline: none;
        background: #F0F3F6;

        &::placeholder {
          font-family: HalvarBreitCY;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
        }
      }
    }

  }

  .green-block,
  .header__top,
  .header__bottom {
    display: none;
  }

  .header__burger-menu {
    background-color: #242173;
    padding-top: 10px;
  }
  .burger-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid #D3DBE2;
      opacity: 0.3;
      mix-blend-mode: normal;
      margin-left: -15px;
      padding-left: 15px;
      margin-right: -15px;
      padding-right: 15px;

    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      border-bottom: 1px solid #D3DBE2;
      opacity: 0.3;
      mix-blend-mode: normal;
      margin-left: -15px;
      padding-left: 15px;
      margin-right: -15px;
      padding-right: 15px;


    }

    &__link {

    }

    &__login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

}

.search {
  background: #FFFFFF !important;
}

.search--black {
  stroke: #000000;
}



</style>

