<template>
  <section class="swiper">
    <div class="swiper__container">
      <div class="swiper-container mySwiper">
        <div class="swiper__title title"><a href="#">Must Read</a></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper__content">
              <div class="swiper__text">
                <div class="swiper__category">
                  <span>ГАДЖЕТЫ</span>
                </div>
                <div class="slide__title">
                  <span>Говорят, в iPhone может снова появиться Touch ID. Зачем? И когда его ждать?</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>
</template>
<script>
import Swiper from 'swiper/bundle';
import 'swiper/swiper-bundle.css';

export default {
  name: 'Slider',

  data() {
    return {
      url:'slide_1',
    }

  },

  mounted() {
    this.swiper = new Swiper('.mySwiper', {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        // when window width is >=
        910: {
          slidesPerView: 'auto',
          spaceBetween: 25,

        }
      }
    });
  }
}
</script>
<style lang="scss" scoped>

.swiper__container {
  position: relative;
}

.swiper-container {
  position: static;

}

.swiper-button-next {
  color: #979797;
  right: -25px !important;

  &:hover {
    color: #5850FF;
    transition: color 0.2s ease;
  }
}

.swiper-button-prev {
  color: #979797;
  left: -25px !important;

  &:hover {
    color: #5850FF;
    transition: color 0.2s ease;
  }
}

.swiper {
  background: #F0F3F6;
  padding-bottom: 40px;
  position: relative;
&__title{
  position: absolute;
  top: -30px;
@media (max-width: 910px) {
  left: 0;
  right: 0;
  text-align: center;
}
}
  &-wrapper {
    padding-top: 60px;

  }

  &-slide {
    height: 420px;
    max-width: 315px;
  }

  &__content {
    background-image: url("../assets/image/main/slide_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: background-size .3s ease;

    &:before {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
      width: 100%;
      height: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }

    &:hover {
      background-size: 110% 110%;
    }
  }

  &__text {
    padding-bottom: 40px;
    z-index: 10;
  }

  &__category {
    font-family: HalvarBreitCY;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
  }

  .slide__title {
    font-family: HalvarMittelCY;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }

}
</style>
