<template>
  <Header :socials="socials"/>
  <main class="main">
    <Grid/>
    <Slider/>
    <Banner/>
    <Categories/>
    <Auth/>
  </main>
  <Footer :socials="socials"/>
</template>

<script>

import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Banner from './components/Banner.vue'
import Categories from './components/Categories.vue'
import Grid from './components/Grid.vue'
import Slider from './components/Slider.vue'
import Auth from './components/Auth.vue'

export default {
  name: 'App',
  components: {
    Header, Footer, Banner, Categories, Grid,
    Slider, Auth
  },
  data() {
    return {
      socials: [
        {icon: 'f', url: '#'},
        {icon: 'f', url: '#'},
        {icon: 'f', url: '#'},
        {icon: 'f', url: '#'},
        {icon: 'f', url: '#'},
        {icon: 'f', url: '#'},
        {icon: 'f', url: '#'},
      ],
    }
  }
}
</script>

<style lang="scss">
#app {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1035px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 910px) {
    padding: 0 15px;
  }
}


html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: IBMPlexSans;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #636363;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #5850FF;
    transition: color .2s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  background: #3399E0;
  appearance: none;
  cursor: pointer;
  text-align: center;
  color: #EDF5FA;
}

.button_small {
  padding: 7.5px 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.text_large {
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  color: #333333;
}

.text_medium {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.text_blue {
  color: #66CCFF;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -30px -12.5px;
}

.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 12.5px;
  width: calc(100% / 12 * 4 - 25px);
  @media (max-width: 910px) {
    width: calc(100% - 25px);
  }
}

.col-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 12.5px;
  width: calc(100% - 25px);
  @media (max-width: 910px) {
    width: calc(100% - 25px);
  }
}

.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 12.5px;
  width: calc(100% / 12 * 6 - 25px);
  @media (max-width: 910px) {
    width: calc(100% - 25px);
  }
}
//$gap: 25px;
//$m-t-b: 30px;
//$m-l-r: ($gap/2);

//$i: 12;
//$col:(100/12)*#{$i}+'%';
//
//@while $i > 0{
//  .col-#{$i} {
//    display: flex;
//    flex-direction: column;
//    border: 1px solid #D3DBE2;
//    justify-content: flex-start;
//    margin: $m-t-b $m-l-r;
//    width: calc(#{$col} - #{$gap});
//  }
//  $i:$i - 1;
//  $col:(100/12)*#{$i}+'%'
//}




.col-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //margin: $m-t-b $m-l-r;
  width: calc(100% / 12 * 8 - 25px);
  @media (max-width: 910px) {
    width: calc(100% - 25px);
  }
}



</style>
