@font-face {
  font-family: IBMPlexSans;
  src: url('../../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.eot');
  src: local('☺'),
  url('../../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.woff') format('woff'),
  url('../../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype'),
  url('../../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HalvarBreitCY';
  src: url('../../assets/fonts/Halvar Breitschrift Bold/Halvar Breitschrift Bold.eot');
  src: local('☺'), url('../../assets/fonts/Halvar Breitschrift Bold/Halvar Breitschrift Bold.woff') format('woff'), url('../../assets/fonts/Halvar Breitschrift Bold/Halvar Breitschrift Bold.ttf') format('truetype'), url('../../assets/fonts/Halvar Breitschrift Bold/Halvar Breitschrift Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HalvarMittelCY';
  src: url('../../assets/fonts/Halvar Mittelschrift ExtraBold/Halvar Mittelschrift ExtraBold.eot');
  src: local('☺'), url('../../assets/fonts/Halvar Mittelschrift ExtraBold/Halvar Mittelschrift ExtraBold.woff') format('woff'), url('../../assets/fonts/Halvar Mittelschrift ExtraBold/Halvar Mittelschrift ExtraBold.ttf') format('truetype'), url('../../assets/fonts/Halvar Mittelschrift ExtraBold/Halvar Mittelschrift ExtraBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HalvarStnclMittelCY';
  src: url('../../assets/fonts/Halvar Stencil Mittelschrift MidGap Black/Halvar Stencil Mittelschrift MidGap Black.eot');
  src: local('☺'), url('../../assets/fonts/Halvar Stencil Mittelschrift MidGap Black/Halvar Stencil Mittelschrift MidGap Black.woff') format('woff'), url('../../assets/fonts/Halvar Stencil Mittelschrift MidGap Black/Halvar Stencil Mittelschrift MidGap Black.ttf') format('truetype'), url('../../assets/fonts/Halvar Stencil Mittelschrift MidGap Black/Halvar Stencil Mittelschrift MidGap Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url('../../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot');
  src: local('☺'), url('../../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.woff') format('woff'), url('../../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf') format('truetype'), url('../../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local('☺'), url('../../assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../../assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), url('../../assets/fonts/Roboto-Regular/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}





